@mixin upper-space {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

@mixin playfair($weight) {
  font-family: 'Playfair Display', serif;
  font-weight: $weight;
}

@mixin hover-image-scale {
  overflow: hidden;

  & img {
    transition: all .5s ease-in;
  }

  &:hover img {
    transform: scale(1.8);
    transition: all 10s ease-in;
  }
}
