/* Normalize, variables and mixins */
@import "vendor/normalize";
@import "vars";
@import "mixins";


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Raleway:wght@300;400;500;600&display=swap');

/* Base styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3 {
  line-height: 1.33;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
}

/* Partials' styles include */
@import "blocks/menu";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/pagination";
@import "blocks/news-gallery";
@import "blocks/feed";
@import "blocks/posts-block";
@import "blocks/news";
@import "blocks/reviews";
@import "blocks/post-preview";
@import "blocks/banner";
@import "blocks/banners-gallery";

