.banners-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 3rem;
  height: 13.6rem;

  position: relative;

  &__control_left, &__control_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4.4rem;
    height: 4.4rem;
    background-color: $white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-out;

    &:hover {
      transform: translateY(-56%);
      box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.2);
    }
  }

  /* Style arrows */

  &__control_left:before, &__control_right:before {
    content: '';
    display: block;
    width: 0.9rem;
    height: 0.9rem;
    background-color: $medium-grey;
  }

  &__control_left:after, &__control_right:after {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    background-color: $white;
  }

  &__control_right {
    right: -2.2rem;

    &:after {
      left: 0;
      right: 54%;
    }
    &:before {
      transform: translateX(-0.2rem) rotate(45deg);
    }
  }

  &__control_left {
    left: -2.2rem;

    &:after {
      right: 0;
      left: 54%;
    }
    &:before {
      transform: translateX(0.2rem) rotate(45deg);
    }
  }
}
