.banner {
  width: 100%;
  height: 17.6rem;
  position: relative;

  @include hover-image-scale;

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
  }

  &__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
  }

  &__title {
    color: $white;
    @include upper-space;

    &_color_black {
      color: $black;
    }
  }

  &__button {
    @include upper-space;
    color: $white;
    background-color: $dark-grey;
    padding: 1.3rem 2.6rem 1.2rem;
    border: 2px solid $primary;
    transition: background-color 0.1s ease-out;

    img {
      transform: translateY(0.2rem);
    }

    &:hover {
      background-color: $primary;
    }
  }

  /* Banner types */
  $t: '&_type';

  /* Horizontal type */
  #{$t}_horizontal &__inner {
    align-items: center;
    justify-content: center;
  }

  #{$t}_horizontal &__title {
    font-weight: 500;
    font-size: 3rem;
    @include upper-space;
    margin-right: 4.8rem;
  }

  /* Vertical type */
  #{$t}_vertical {
    height: 47.9rem;
    width: 37rem;
  }

  #{$t}_vertical &__inner {
    padding: 1rem 4rem 4rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #{$t}_vertical &__title {
    @include playfair(900);
    font-size: 3rem;
    text-align: center;
  }

  /* Small type */
  #{$t}_small {
    height: 10.7rem;
    align-self: center;
    transition: height 0.2s ease-in;
  }
  #{$t}_small &__inner {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $medium-grey;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }

  #{$t}_small:hover {
    height: 13.6rem;
  }

  #{$t}_small:hover &__inner {
    opacity: 1;
  }

  #{$t}_small &__title {
    font-size: 1.6rem;
    font-weight: 600;
  }

  #{$t}_small &__button {
    border-color: $white;
    background-color: $medium-grey;
    font-size: 1rem;
    padding: 0.7rem 1.8rem 0.5rem;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}
