.feed {
  &__inner {
    padding: 10rem 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 8rem 3.2rem;
  }
  &__column_posts {
    .posts-block {
      margin-bottom: 7.5rem;
    }
    .pagination {
      margin-bottom: 1rem;
    }
  }

  &__column_banners {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
