.page-footer {
  padding-top: 3rem;
  background-color: $light-grey;

  &__title {
    text-align: center;
    @include playfair(900);
    font-size: 2.8rem;
    letter-spacing: 0.1rem;
  }

  &__menu {
    margin: 4rem 0 0.6rem;
    padding: 0 0 4.6rem;
    border-bottom: 1px solid rgba(0,0,0,0.08);
  }

  &__credentials {
    text-align: right;
    font-size: 1rem;
    color: rgba(0,0,0,0.2);
    margin: 0;
    padding-bottom: 1.4rem;
  }
}
