.page-header {
  padding-top: 3.6rem;

  &__title {
    text-align: center;
    @include playfair(900);
    font-size: 3.5rem;
    letter-spacing: 0.1rem;
  }

  &__menu {
    margin: 4.3rem 0;
  }
}
