.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  &__item {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.7rem;
    font-weight: 400;
    @include upper-space;

    transition: all .2s ease-out;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}
