.news-gallery {
  width: 100%;
  height: 46.5rem;

  $p: &;

  background-color: $black;
  background-image: url("../images/Hotel-11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: $white;

  &__inner {
    display: flex;
    height: 46.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &__label {
    margin-top: 3.6rem;
    padding: 0.5rem 1.5rem;
    background-color: $primary;
    @include upper-space;
  }

  &__title {
    font-size: 7.2rem;
    font-weight: 300;
    @include upper-space;
  }

  &__control {
    height: 4.2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;

    #{$p}__tip {
      display: flex;
      align-items: center;
      font-size: 1.3rem;

      #{$p}__horizontal-line {
        width: 6.4rem;
        height: 0.1rem;
        background-color: $white;
        margin: 0 1rem;
      }
    }

    #{$p}__buttons {
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
      }

      #{$p}__vertical-line {
        width: 0.1rem;
        height: 100%;
        background-color: $white;
        margin: 0 1.5rem;
      }
    }
  }

  &__text {
    max-width: 45.6rem;
    font-size: 1.4rem;
    text-align: center;
    margin: 0 0 2rem;
  }
}
