.pagination {
  $p: &;
  width: 40.8rem;
  margin: 0 auto;
  height: 2.9rem;
  grid-column-start: 1;
  grid-column-end: 3;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.1rem;

  &__button {
    height: 100%;
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      opacity: 0.3;
    }

    #{$p}__vertical-line {
      width: 0.1rem;
      height: 100%;
      margin: 0 1.6rem;
      background-color: $medium-grey;
    }
  }



  &__list {
    list-style: none;

    width: 16.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0;
    margin: 0 auto;

    font-family: Arial;
    font-weight: 300;
    font-size: 1.4rem;
    color: $medium-grey;

    #{$p}__item{
      cursor: pointer;

      &:hover {
        color: $dark-grey;
      }

      &_active {
        font-weight: 600;
        color: $black;
        font-size: 2rem;
        position: relative;
      }

      &_active:after {
        content: '';
        display: block;
        width: 1.3rem;
        height: 0.3rem;
        background-color: $primary;

        position: absolute;
      }
    }

  }
}
