.post-preview {
  $p: &;
  cursor: pointer;

  &__image {
    position: relative;

    #{$p}__photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #{$p}__overlay {
      opacity: 0;
      position: absolute;
      background-color: $dark-grey;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      transition: opacity .4s ease-out;

      #{$p}__bookmark {
        position: absolute;
        top: 1rem;
        right: 0.8rem;
      }

      #{$p}__info {
        position: absolute;
        left: 1.9rem;
        bottom: 1.6rem;

        display: flex;
        align-items: center;

        color: rgba(255,255,255,0.4);
        font-size: 1.5rem;
        font-family: Arial;
        font-weight: 300;

        img {
          margin-right: 0.5rem;
        }

        #{$p}__views {
          margin-right: 2.1rem;
        }
      }
    }
  }

  &__title {
    @include playfair(900);
    margin: 0;
  }

  &:hover {
    #{$p}__title {
      color: $primary;
    }

    #{$p}__overlay {
      opacity: 1;
    }
  }

  &_full-image {
    min-width: 47rem;
    height: 33.4rem;
    position: relative;

    &:hover {
      #{$p}__text {
        color: $white;
      }
    }

    #{$p}__description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1.1rem 2.3rem;

      #{$p}__title {
        font-size: 2rem;
      }

      #{$p}__text {
        font-size: 1.4rem;
      }
    }
  }

  &_small {
    height: 9.1rem;
    display: flex;
    align-items: center;

    #{$p}__image {
      width: 12.7rem;
      min-width: 12.7rem;
      height: 100%;
    }

    #{$p}__description {

      margin-left: 1.2rem;

      #{$p}__title {
        font-size: 1.4rem;
      }

      #{$p}__text {
        margin: 0.4rem 0;
        font-size: 1rem;
      }
    }
  }

  &_detailed {
    width: 100%;


    #{$p}__image {
      width: 100%;
      height: 20.2rem;
    }

    #{$p}__description {

      #{$p}__title {
        font-size: 2.3rem;
        margin-top: 1.5rem;
      }

      #{$p}__text {
        font-size: 1.4rem;
      }
    }
  }
}
