<footer class="page-footer">
    <div class="container">
        <h1 class="page-footer__title">Новости культуры</h1>
        <nav>
            <ul class="menu page-footer__menu">
                <li><a class="menu__item" href="#">Новости</a></li>
                <li><a class="menu__item" href="#">Обзоры</a></li>
                <li><a class="menu__item" href="#">Музыка</a></li>
                <li><a class="menu__item" href="#">Архитектура</a></li>
                <li><a class="menu__item" href="#">Кино</a></li>
                <li><a class="menu__item" href="#">Театр</a></li>
                <li><a class="menu__item" href="#">Литература</a></li>
                <li><a class="menu__item" href="#">Религия</a></li>
                <li><a class="menu__item" href="#">Живопись</a></li>
            </ul>
        </nav>
        <p class="page-footer__credentials">© 2018 Новости культуры. Все права защищены.</p>
    </div>
</footer>
