<header class="page-header">
    <div class="container">
        <h1 class="page-header__title">Новости культуры</h1>
        <nav>
            <ul class="menu page-header__menu">
                <li><a class="menu__item" href="#">Новости</a></li>
                <li><a class="menu__item" href="#">Обзоры</a></li>
                <li><a class="menu__item" href="#">Музыка</a></li>
                <li><a class="menu__item" href="#">Архитектура</a></li>
                <li><a class="menu__item" href="#">Кино</a></li>
                <li><a class="menu__item" href="#">Театр</a></li>
                <li><a class="menu__item" href="#">Литература</a></li>
                <li><a class="menu__item" href="#">Религия</a></li>
                <li><a class="menu__item" href="#">Живопись</a></li>
            </ul>
        </nav>
    </div>
</header>
