---
layout: default
title: Veles Homepage
---

<section class="news-gallery">
    <div class="container">
        <div class="news-gallery__inner">
            <div class="news-gallery__label">
                Новое
            </div>
            <div class="news-gallery__title">
                Подводный отель
            </div>
            <div class="news-gallery__control">
                <div class="news-gallery__tip">
                    <span>Предыдущая</span>
                    <div class="news-gallery__horizontal-line"></div>
                </div>
                <div class="news-gallery__buttons">
                    <img src="assets/images/triangle-left.svg" alt="">
                    <div class="news-gallery__vertical-line"></div>
                    <img src="assets/images/triangle-right.svg" alt="">
                </div>
                <div class="news-gallery__tip">
                    <div class="news-gallery__horizontal-line"></div>
                    <span>Следущая</span>
                </div>
            </div>
            <p class="news-gallery__text">
                Как известно, Дубай – город контрастов. Самые революционные
                и фантастические мечты архитекторов способен воплотить в жизнь этот мегаполис, построенный на нефти и за
                счет нефти
            </p>
        </div>

    </div>
</section>

<section class="feed">
    <div class="container">
        <div class="feed__inner">

            <!-- Posts column -->
            <div class="feed__column feed__column_posts">

                <!-- News block -->
                <div class="posts-block">
                    <div class="posts-block__title">Новости</div>
                    <div class="posts-block__content news">
                        <div class="post-preview post-preview_full-image">
                            <div class="post-preview__image">
                                <img src="assets/images/post1.png" alt="" class="post-preview__photo">
                                <div class="post-preview__overlay">
                                    <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                </div>
                            </div>
                            <div class="post-preview__description">
                                <h3 class="post-preview__title">Новости культуры России и всего мира</h3>
                                <p class="post-preview__text">В минувшие выходные в Москве на фестивале «Оберег»
                                    вручили первую премию Russian World Music Awards</p>
                            </div>
                        </div>

                        <div class="news__small-column">
                            <div class="post-preview post-preview_small">
                                <div class="post-preview__image">
                                    <img src="assets/images/leonov.png" alt="" class="post-preview__photo">
                                    <div class="post-preview__overlay">
                                        <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    </div>
                                </div>
                                <div class="post-preview__description">
                                    <h3 class="post-preview__title">Открытие нового памятника Евгению Леонову</h3>
                                    <p class="post-preview__text">10 сентября в 15:00 был открыт памятник писателю</p>
                                </div>
                            </div>
                            <div class="post-preview post-preview_small">
                                <div class="post-preview__image">
                                    <img src="assets/images/people.png" alt="" class="post-preview__photo">
                                    <div class="post-preview__overlay">
                                        <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    </div>
                                </div>
                                <div class="post-preview__description">
                                    <h3 class="post-preview__title">Беседы с писателями</h3>
                                    <p class="post-preview__text">Русские писатели говорят о важности искусства</p>
                                </div>
                            </div>
                            <div class="post-preview post-preview_small">
                                <div class="post-preview__image">
                                    <img src="assets/images/Patrick_s_Day.png" alt="" class="post-preview__photo">
                                    <div class="post-preview__overlay">
                                        <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    </div>
                                </div>
                                <div class="post-preview__description">
                                    <h3 class="post-preview__title">День и ночь св. Патрика: встреча старых друзей</h3>
                                    <p class="post-preview__text">Не Джойсом единым живет Ирландия!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Reviews block -->
                <div class="posts-block">
                    <div class="posts-block__title">Обзоры</div>
                    <div class="posts-block__content reviews">
                        <div class="post-preview post-preview_detailed">
                            <div class="post-preview__image">
                                <img src="assets/images/art.png" alt="" class="post-preview__photo">
                                <div class="post-preview__overlay">
                                    <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    <div class="post-preview__info">
                                        <img src="assets/images/views.svg" alt="">12<span
                                            class="post-preview__views"></span>
                                        <img src="assets/images/comments.svg" alt="">8<span
                                            class="post-preview__comments"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-preview__description">
                                <h3 class="post-preview__title">«Шальные годы» Монпарнаса</h3>
                                <p class="post-preview__text">В Музее изобразительных искусств имени Пушкина с 29
                                    сентября по 29 ноября проходит выставка «Шальные годы Монпарнаса»</p>
                            </div>
                        </div>
                        <div class="post-preview post-preview_detailed">
                            <div class="post-preview__image">
                                <img src="assets/images/stones.png" alt="" class="post-preview__photo">
                                <div class="post-preview__overlay">
                                    <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    <div class="post-preview__info">
                                        <img src="assets/images/views.svg" alt="">12<span
                                            class="post-preview__views"></span>
                                        <img src="assets/images/comments.svg" alt="">8<span
                                            class="post-preview__comments"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-preview__description">
                                <h3 class="post-preview__title">Анатомия за 30 секунд</h3>
                                <p class="post-preview__text">Сейчас, когда мир открыт нараспашку для человека и его
                                    познавательных изысканий, интерес к научно-популярной литературе заметно вырос</p>
                            </div>
                        </div>
                        <div class="post-preview post-preview_detailed">
                            <div class="post-preview__image">
                                <img src="assets/images/dance.png" alt="" class="post-preview__photo">
                                <div class="post-preview__overlay">
                                    <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    <div class="post-preview__info">
                                        <img src="assets/images/views.svg" alt="">12<span
                                            class="post-preview__views"></span>
                                        <img src="assets/images/comments.svg" alt="">8<span
                                            class="post-preview__comments"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-preview__description">
                                <h3 class="post-preview__title">Русские балетные сезоны</h3>
                                <p class="post-preview__text">В Новом Иерусалиме стартовал необычный
                                    культурно-развлекательный спектакль, который покажут в новом театре</p>
                            </div>
                        </div>
                        <div class="post-preview post-preview_detailed">
                            <div class="post-preview__image">
                                <img src="assets/images/theatre.png" alt="" class="post-preview__photo">
                                <div class="post-preview__overlay">
                                    <img src="assets/images/bookmark.svg" alt="" class="post-preview__bookmark">
                                    <div class="post-preview__info">
                                        <img src="assets/images/views.svg" alt="">12<span
                                            class="post-preview__views"></span>
                                        <img src="assets/images/comments.svg" alt="">8<span
                                            class="post-preview__comments"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-preview__description">
                                <h3 class="post-preview__title">Сферические чудаки</h3>
                                <p class="post-preview__text">Корреспондентам «Культурного обозревателя» посчастливилось
                                    побывать в театре «Сфера» на премьере спектакля «Чудаки и зануды» </p>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="pagination pagination_reviews">
                            <div class="pagination__button">
                                <img src="assets/images/triangle-left-filled.svg" alt="">
                                <div class="pagination__vertical-line"></div>
                            </div>
                            <ul class="pagination__list">
                                <li class="pagination__item pagination__item_active">1</li>
                                <li class="pagination__item">2</li>
                                <li class="pagination__item">3</li>
                                <li class="pagination__item">4</li>
                                <li class="pagination__item">5</li>
                                <li class="pagination__item">...</li>
                                <li class="pagination__item">35</li>
                            </ul>
                            <div class="pagination__button">
                                <div class="pagination__vertical-line"></div>
                                <img src="assets/images/triangle-right-filled.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <!--- Banner -->
                <div class="banner banner_type_horizontal">
                    <img src="assets/images/balet.png" alt="" class="banner__image">
                    <div class="banner__inner">
                        <h3 class="banner__title">Ох, уж этот балет</h3>
                        <a href="#" class="banner__button">Смотреть <img src="assets/images/Arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- Banners column -->
            <div class="feed__column feed__column_banners">
                <div class="banner banner_type_vertical">
                    <img src="assets/images/balloons.png" alt="" class="banner__image">
                    <div class="banner__inner">
                        <h3 class="banner__title banner__title_color_black">Воздушные шары</h3>
                        <a href="#" class="banner__button">Смотреть <img src="assets/images/Arrow-right.svg" alt=""></a>
                    </div>
                </div>
                <div class="banner banner_type_vertical">
                    <img src="assets/images/water.png" alt="" class="banner__image">
                    <div class="banner__inner">
                        <h3 class="banner__title">НЕОБЫЧНАЯ ФОТОСЕССИЯ</h3>
                        <a href="#" class="banner__button">Смотреть <img src="assets/images/Arrow-right.svg" alt=""></a>
                    </div>
                </div>
                <div class="banner banner_type_vertical">
                    <img src="assets/images/bird.png" alt="" class="banner__image">
                    <div class="banner__inner">
                        <h3 class="banner__title">Выставка птиц</h3>
                        <a href="#" class="banner__button">Смотреть <img src="assets/images/Arrow-right.svg" alt=""></a>
                    </div>
                </div>
            </div>

            <!-- Banners row -->
            <div class="feed__row">
                <div class="banners-gallery">
                    <div class="banners-gallery__control_left"></div>
                    <div class="banners-gallery__control_right"></div>
                    <div class="banner banner_type_small">
                        <img src="assets/images/watch.png" alt="" class="banner__image">
                        <div class="banner__inner">
                            <h3 class="banner__title">КАК все успевать</h3>
                            <a href="#" class="banner__button">Смотреть</a>
                        </div>
                    </div>
                    <div class="banner banner_type_small">
                        <img src="assets/images/watch.png" alt="" class="banner__image">
                        <div class="banner__inner">
                            <h3 class="banner__title">КАК все успевать</h3>
                            <a href="#" class="banner__button">Смотреть</a>
                        </div>
                    </div>
                    <div class="banner banner_type_small">
                        <img src="assets/images/watch.png" alt="" class="banner__image">
                        <div class="banner__inner">
                            <h3 class="banner__title">КАК все успевать</h3>
                            <a href="#" class="banner__button">Смотреть</a>
                        </div>
                    </div>
                    <div class="banner banner_type_small">
                        <img src="assets/images/watch.png" alt="" class="banner__image">
                        <div class="banner__inner">
                            <h3 class="banner__title">КАК все успевать</h3>
                            <a href="#" class="banner__button">Смотреть</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
